* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16pt;
}

a {
  text-decoration: none !important;
}

h1 {
  margin-bottom: 15px;
  text-decoration: underline;
}

.process_loading {
  display: grid !important;
  justify-self: center !important;
  font-size: 0 !important;
  width: 50px !important;
  height: 50px !important;
  background: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 50% !important;
  border-left: 1px solid transparent !important;
  animation: load 1s 0.25s ease-in-out infinite !important;
}

@keyframes load {
  0% {
    transform: rotate(360deg);
  }
}
.input {
  position: relative;
  width: 400px;
  margin-bottom: 10px;
}
.input label {
  position: relative;
  width: 100%;
  color: #000;
  font-family: sans-serif;
}
.input input {
  position: relative;
  width: 100%;
  font-size: 16pt;
  font-family: sans-serif;
  outline: none;
  padding: 10px;
  margin-top: 5px;
  background: transparent;
  border: none;
  border-radius: 2px;
  background: #eee;
}
.input .error {
  margin-top: 2.5px;
  color: red;
  font-size: 12pt;
}

@media screen and (max-width: 503px) {
  .input {
    width: 100%;
  }
}
button {
  padding: 10px;
  background: #eee;
  font-size: 16pt;
  font-family: sans-serif;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 503px) {
  button {
    width: 100%;
  }
}
.snackbar {
  position: fixed;
  bottom: 5px;
  left: 5px;
  border-radius: 4px;
  background: #000;
  color: #fff;
  box-shadow: 0 0 2.5px 0 #000;
  font-family: sans-serif;
  font-size: 16pt;
  transition: 0.75s linear;
  padding: 10px;
  max-width: 90vw;
  word-break: break-all;
}
.snackbar a {
  text-decoration: none;
  color: cyan;
  background-color: rgba(0, 234, 255, 0.15);
  padding: 5px;
  border-radius: 4px;
}
.snackbar.hide {
  bottom: -100%;
}

@media screen and (max-width: 503px) {
  .snackbar {
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
  }
}
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}
.home .content {
  justify-self: center;
  align-self: center;
  justify-items: center;
  max-width: 90vw;
}
.home .content .title {
  font-size: 26pt;
}
.home .content .body1, .home .content .body2 {
  margin-left: 4px;
}
.home .content .meta {
  margin-left: 4px;
  font-size: 14pt;
  color: #1a1818;
}
.home .content button {
  margin-top: 10px;
  width: 100%;
}
.home .background {
  position: relative;
  width: 100%;
  height: 100%;
}
.home .background .bg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: url(../static/wlcm.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (max-width: 945px) {
  .home {
    grid-template-columns: 1fr;
  }
  .home .background {
    display: none;
  }
}
.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}
.register .background {
  position: relative;
}
.register .background .bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../static/register_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.register .background .attribution {
  position: absolute;
  bottom: 10px;
  left: 5px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 2px;
}
.register .content {
  display: grid;
  justify-self: center;
  align-self: center;
  justify-items: center;
  max-width: 90vw;
}
.register .content .register_btn {
  margin-bottom: 10px;
}
.register .content .login_now {
  position: relative;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .register {
    grid-template-columns: 1fr;
  }
  .register .background {
    display: none;
  }
}
.login {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}
.login .content {
  display: grid;
  justify-self: center;
  align-self: center;
  justify-items: center;
  max-width: 90vw;
}
.login .content .login_btn {
  margin-bottom: 10px;
}
.login .content .input {
  position: relative;
}
.login .content .input label {
  position: relative;
  width: 100%;
  display: block;
}
.login .content .input label .reset-pass {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 10pt;
  text-align: right;
}
.login .content .register_now {
  position: relative;
  width: 100%;
  text-align: center;
}
.login .background {
  position: relative;
}
.login .background .bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../static/login_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login .background .attribution {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 2px;
}

@media screen and (max-width: 900px) {
  .login {
    grid-template-columns: 1fr;
  }
  .login .content h1 {
    text-align: center;
  }
  .login .background {
    display: none;
  }
}
.forgot {
  display: grid;
  width: 100vw;
  height: 100vh;
}
.forgot .content {
  display: grid;
  justify-self: center;
  align-self: center;
  padding: 10px;
  justify-items: center;
  max-width: 90vw;
  box-shadow: 0 0 5px 0 #eee;
  border-radius: 4px;
}
.forgot .content h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
.forgot .content .input {
  margin: 10px 0;
}
.forgot .content button {
  margin-top: 5px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  h1 {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
